# /node_modules/* in the project root is ignored by default
# build artefacts
dist/*
coverage/*
packages/**/dist/*
packages/**/coverage/*

packages/api/node_modules/*
packages/app/node_modules/*
packages/events/node_modules/*

# data definition files
**/*.d.ts
# 3rd party libs
/src/public/
# custom definition files
/src/types/